@font-face {
    font-family: 'DM_Sans';
    src: url('./fonts/DM\ sans/DMSans-VariableFont_opsz,wght.ttf') format('truetype');
}

@font-face {
    font-family: 'DM_Sans_Italic';
    src: url('./fonts/DM\ sans/DMSans-Italic-VariableFont_opsz,wght.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'DM_Sans', 'DM_Sans_Italic';
}

.body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.titre-side-headers {
    font-weight: 950;
    font-size: 2em;
    color: #ffffff;
    background-color: #3d3bb3;
    padding: 5px 10px;
    border-radius: 10px;
}

.labels {
    font-weight: 450;
    font-size: 1.2em;
    color: #000000;
    margin: 3px 0px 5px 0;
}

.inputs {
    position: relative;
    width: 205px;
    height: 30px;
    padding-left: 15px;
    font-size: 16px;
    border: 1px solid #2827773f;
    border-radius: 5px;
}

.settings-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    bottom: 10px;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.settings-header {
    margin: 10px;
    height: 60px;
}

.settings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 20px;
}

.settings-inputs {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: auto;
}

.wrapper-setting {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    height: 40px;
    background-color: #f2f2ff;
    border: 2px solid #3d3bb3;
    padding: 5px 20px;
    border-radius: 15px;
    margin: 10px;
}

.settings-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    height: 110px;
    width: 75%;
}

.settings-btn {
    display: block;
    margin-top: 20px;
    width: 160px;
    height: 40px;
    font-size: 1.1em;
    border-radius: 10px;
    border: 2px solid #3d3bb3;
    background-color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.settings-btn:hover {
    background-color: #f2f2ff;
}

.settings-btn.active {
    background-color: #38ad48;
    border: 2px solid #42ce59;
    color: #ffffff;
}

.middle-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 1000px;
    height: 600px;
}

.info-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
    height: 100%;
}

.scoreboard-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    bottom: 10px;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.scoreboard-header {
    margin: 10px;
    height: 60px;
}

.scoreboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 20px;
}

.canvas {
    display: block;
    background-color: rgb(243, 243, 243);
    border-radius: 15px;
    border: 2px solid #3d3bb3;
    z-index: 1000;
}

.startBtn {
    display: block;
    margin-top: 20px;
    width: 200px;
    height: 40px;
    font-size: 1.1em;
    border-radius: 10px;
    border: 2px solid #3d3bb3;
    background-color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.startBtn:hover {
    background-color: #f2f2ff;
}

.startBtn.active {
    background-color: #e44f4f;
    border: 2px solid #be3e3e;
    color: #ffffff;
}

.startBtn.active:hover {
    background-color: #d34848;
}

.div-info {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    width: 300px;
    height: 30px;
    background-color: #3d3bb3;
    padding: 10px;
    border-radius: 10px;
}

.chrono {
    display: block;
    text-align: center;
    width: 170px;
    font-size: 1.06em;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 5px;
}

.score {
    display: block;
    text-align: center;
    width: 100px;
    font-size: 1.06em;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 5px;
}

